* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

.b-red{
    border: 1px solid red;
}
.b-blue{
    border: 1px solid blue;
}
.b-green{
    border: 1px solid green;
}

li, ul{
    list-style: none;
    text-decoration: none;
}

.nav {
    height: 100px;
    background-color: rgba(28,45,55,255);
}
.nav-ul{
    height: 100%;
}

.btn-yellow{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(238,210,110,255);
    transition: .2s all linear;
}
.btn-yellow:hover{
    border-radius: 30px;
    transition: .2s all linear;
}

.nav-a{
    font-weight: 600;
}
.nav-item a{
    color: white;
    transition: .1s all linear;
}
.nav-item a:hover{
    color: rgba(238,210,110,255);
    transition: .1s all linear;
}
.dropdown-main{
    position: relative;
}
.dropdown-main:hover .dropdown-con{
    height: auto;
    transform:rotateX(0deg);
    
    transform-origin: 0 0;
    transition: .5s all linear;
}
.dropdown-con{
    height: 0;
    background-color: white;
    border-radius: 20px;
    color: black;
    position: absolute;
    left: -10px;
    top: 150%;
    width: 250px;
    transform:rotateX(90deg);
    transition: .5s all linear;
    /* z-index: -1; */
}
.dropdown-items{
    height: 0;
    background-color: white;
}

@media only screen and (max-width: 990px) { 
    .nav-ul-collapse li a{
        display: none!important;
    }
    .nav-ul-collapse li{
        display: none!important;
    }
    .nav-ul-collapse{
        display: none!important;
    }

    .nav-div-collapse{
        display: none!important;
    }

    .nav-res{
        display: flex!important;
        align-items: center;
        justify-content: space-between;
    }
}

.home-page{
    /* height: 100vh; */
    width: 100% !important;
    border: 3px solid red;
    border-radius: 30px;
    animation: image-anime 15s linear infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.home-page-row{
    height: 100%;
    
}


@keyframes image-anime {
    0% {
        background-image: url(images/hero_bg_1_1.png);
        background-size: 105%;
    }
    25%{
        background-image: url(images/hero_bg_1_1.png);
        background-size: 115%;
    }
    30%{
        background-image: url(images/hero_bg_1_2.png);
        background-size: 105%;
    }
    55%{
        background-image: url(images/hero_bg_1_2.png);
        background-size: 115%;
    }
    60%{
        background-image: url(images/hero_bg_1_3.png);
        background-size: 105%;
    }
    95%{
        background-image: url(images/hero_bg_1_3.png);
        background-size: 115%;
    }
    100%{
        background-image: url(images/hero_bg_1_1.png);
        background-size: 105%;
    }
}

.left{
    height: 100vh;
    border: 4px solid white;
    /* overflow: hidden; */
}

.left-1{
    animation: text-anime 15s linear infinite;
    transform: translateY(-100%);
}
.left-button-1{
    animation: button-anime 15s linear infinite;
    transform: translateY(500%);
    opacity: 0;
}

.left-2{
    animation: text-anime 15s linear infinite;
    transform: translateY(-100%);
    animation-delay: 4.5s;
}
.left-button-2{
    animation: button-anime 15s linear infinite;
    transform: translateY(500%);
    animation-delay: 4.5s;
    opacity: 0;
}

.left-3{
    animation: text-anime 15s linear infinite;
    transform: translateY(-100%);
    animation-delay: 9s;
}
.left-button-3{
    animation: button-anime 15s linear infinite;
    transform: translateY(500%);
    animation-delay: 9s;
    opacity: 0;
}

@keyframes text-anime {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    15%{
        transform: translateY(10%);
        opacity: 1;
    }
    24%{
        transform: translateY(10%);
        opacity: 1;
    }
    28%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes button-anime {
    0%{
        transform: translateY(500%);
        opacity: 0 !important;
    }
    15%{
        transform: translateY(300%);
        opacity: 1;
    }
    24%{
        transform: translateY(300%);
        opacity: 1;
    }
    28%{
        transform: translateY(500%);
        opacity: 0;
    }
    100%{
        transform: translateY(500%);
        opacity: 0;
    }
}

.right{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
    width: 130px;
    height: 130px;
    /* background-color: rgba(255, 255, 255, 0.345); */
    color: white;
}

.play-anime{
    animation: border-scales 3s linear infinite;
}

.play-anime:nth-child(2){
    animation-delay: 1.5s;
}

@keyframes border-scales{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}

.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}

.first-section-sub{
    width: 100%;
    overflow: hidden;
    background-color: rgba(192,205,209,255);
}

.second-section{
    /* overflow: hidden; */
    background-color: rgba(28,45,55,255);
}

.second-img-1{
    width: 100%;
    height: 100%;
    background-image: url(images/about_1_1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.second-img-2{
    width: 100%;
    height: 100%;
    background-image: url(images/about_1_2.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.third-section{
    height: 130vh;
    background-image: url(images/about_1_1.jpg);
    background-size: cover;
    /* position: fixed; */
    
}

.third-img-con{
    height: 80vh;
}
.third-img{
    width: 100%;
    height: 100%;
    background-image: url(images/project_pop1_1.png);
    background-position: center;
    background-size: cover;
}

.fourth-section{
    width: 100%;
    background-color: rgba(28,45,55,255);

}

.Fsection-img-1{
    background-image: url(images/property-s-1-1-416x360.png);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.F-numbers{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
}