* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

.b-red{
    border: 1px solid red;
}
.b-blue{
    border: 1px solid blue;
}
.b-green{
    border: 1px solid green;
}

li, ul{
    list-style: none;
    text-decoration: none;
}

.nav {
    height: 100px;
    background-color: rgba(28,45,55,255);
}
.nav-ul{
    height: 100%;
}

.btn-yellow{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(238,210,110,255);
    transition: .2s all linear;
}
.btn-yellow:hover{
    border-radius: 30px;
    transition: .2s all linear;
}

.nav-a{
    font-weight: 600;
}
.nav-item a{
    color: white;
    transition: .1s all linear;
}
.nav-item a:hover{
    color: rgba(238,210,110,255);
    transition: .1s all linear;
}
.dropdown-main{
    position: relative;
}
.dropdown-main:hover .dropdown-con{
    height: auto;
    transform:rotateX(0deg);
    
    transform-origin: 0 0;
    transition: .5s all linear;
}
.dropdown-con{
    height: 0;
    background-color: white;
    border-radius: 20px;
    color: black;
    position: absolute;
    left: -10px;
    top: 150%;
    width: 250px;
    transform:rotateX(90deg);
    transition: .5s all linear;
    /* z-index: -1; */
}
.dropdown-items{
    height: 0;
    background-color: white;
}

@media only screen and (max-width: 990px) { 
    .nav-ul-collapse li a{
        display: none!important;
    }
    .nav-ul-collapse li{
        display: none!important;
    }
    .nav-ul-collapse{
        display: none!important;
    }

    .nav-div-collapse{
        display: none!important;
    }

    .nav-res{
        display: flex!important;
        align-items: center;
        justify-content: space-between;
    }
}

.home-page{
    /* height: 100vh; */
    width: 100% !important;
    border: 3px solid red;
    border-radius: 30px;
    animation: image-anime 15s linear infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover !important;
}
.home-page-row{
    height: 100%;
    
}


@keyframes image-anime {
    0% {
        background-image: url(images/hero_bg_1_1.png);
        background-size: 105%;
    }
    25%{
        background-image: url(images/hero_bg_1_1.png);
        background-size: 115%;
    }
    30%{
        background-image: url(images/hero_bg_1_2.png);
        background-size: 105%;
    }
    55%{
        background-image: url(images/hero_bg_1_2.png);
        background-size: 115%;
    }
    60%{
        background-image: url(images/hero_bg_1_3.png);
        background-size: 105%;
    }
    95%{
        background-image: url(images/hero_bg_1_3.png);
        background-size: 115%;
    }
    100%{
        background-image: url(images/hero_bg_1_1.png);
        background-size: 105%;
    }
}

.left{
    height: 100vh;
    border: 4px solid white;
    /* overflow: hidden; */
}

.left-1{
    animation: text-anime 15s linear infinite;
    transform: translateY(-100%);
}
.left-button-1{
    animation: button-anime 15s linear infinite;
    transform: translateY(500%);
    opacity: 0;
}

.left-2{
    animation: text-anime 15s linear infinite;
    transform: translateY(-100%);
    animation-delay: 4.5s;
}
.left-button-2{
    animation: button-anime 15s linear infinite;
    transform: translateY(500%);
    animation-delay: 4.5s;
    opacity: 0;
}

.left-3{
    animation: text-anime 15s linear infinite;
    transform: translateY(-100%);
    animation-delay: 9s;
}
.left-button-3{
    animation: button-anime 15s linear infinite;
    transform: translateY(500%);
    animation-delay: 9s;
    opacity: 0;
}

@keyframes text-anime {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    15%{
        transform: translateY(10%);
        opacity: 1;
    }
    24%{
        transform: translateY(10%);
        opacity: 1;
    }
    28%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100%{
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes button-anime {
    0%{
        transform: translateY(500%);
        opacity: 0 !important;
    }
    15%{
        transform: translateY(300%);
        opacity: 1;
    }
    24%{
        transform: translateY(300%);
        opacity: 1;
    }
    28%{
        transform: translateY(500%);
        opacity: 0;
    }
    100%{
        transform: translateY(500%);
        opacity: 0;
    }
}

.right{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
    width: 130px;
    height: 130px;
    /* background-color: rgba(255, 255, 255, 0.345); */
    color: white;
}

.play-anime{
    animation: border-scales 3s linear infinite;
}

.play-anime:nth-child(2){
    animation-delay: 1.5s;
}

@keyframes border-scales{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.6);
        opacity: 0;
    }
}

.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}

.first-section-sub{
    width: 100%;
    overflow: hidden;
    background-color: rgba(192,205,209,255);
}

.second-section{
    /* overflow: hidden; */
    background-color: rgba(28,45,55,255);
}

.second-img-1{
    width: 100%;
    height: 100%;
    background-image: url(images/about_1_1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}
.second-img-2{
    width: 100%;
    height: 100%;
    background-image: url(images/about_1_2.png);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.third-section{
    height: 130vh;
    background-image: url(images/about_1_1.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* position: fixed; */
    
}

.third-img-con{
    height: 80vh;
}
.third-img{
    width: 100%;
    height: 100%;
    background-image: url(images/project_pop1_1.png);
    background-position: center;
    background-size: cover;
}

.fourth-section{
    width: 100%;
    background-color: rgba(28,45,55,255);

}

.Fsection-img-1{
    background-image: url(images/property-s-1-1-416x360.png);
    height: 100%;
    background-size: cover;
    background-position: center;
}

.F-numbers{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
}

.fourth-row{
    border: 1px solid red;
    /* border-top: 1px solid rgb(187, 187, 187); */
}

.F-content{
    border-left: 1px solid rgb(187, 187, 187);
}

.fifth-section{
    width: 100%;
    height: 90vh;
    background-color: rgba(192,205,209,255);
}

@media only screen and (max-width: 596px) {
    .fifth-section{
        height: 202vh;
    }
}

.fifth-card{
    width: 100%;
    height: 260px;
    background-image: url(images/property-s-1-9-416x360.png);
    background-position: center;
    background-size: cover;
}

.fifth-card-inner{
    width: 100%;
    height: 100%;
    background-color: rgba(28,45,55,255);
    transition: all .2s linear;
}

.fifth-card:hover .fifth-card-inner{
    background-color: rgba(28, 45, 55, 0.432);
    transition: all .2s linear;
}
.fifth-card i{
    transition: all .2s linear;
}

.fifth-card:hover i {
    transform: scaleX(-1);
    transition: all .2s linear;
}

.sixth-section{
    width: 100%;
    height: 100vh;
    background-color: rgba(28,45,55,255);
}

@media only screen and (max-width:596px) {
    .sixth-section{
        height: 175vh;
    }
    .sixth-section-inner{
        height: 500px !important;
    }
    .sixth-section-inner h1{
        font-size: 35px !important;
    }
    .sixth-section-inner p{
        font-size: 20px !important;
    }
    .sixth-section-img-con{
        height: 400px !important;
    }
}

.sixth-section-inner{
    height: 100%;
    background-color: rgba(192,205,209,255);

}

.sixth-section-inner h1{
    font-size: 60px;
    font-weight: 600;
}

.sixth-section-inner p{
    font-size: 23px;
    font-weight: 200;
}
.sixth-section-inner button{
    background-color: black; 
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
}

.sixth-section-img-con{
    width: 100%;
    height: 100%;
    background-color: rgba(192,205,209,255);
}

.sixth-section-img{
    width: 100%;
    height: 100%;
    background-image: url(images/Untitled-1-636x440.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.seventh-section{
    background-color: rgba(28,45,55,255);

}


.seventh-section-card-con{
    width: 100%;
    height: 500px;
}

.S-card{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 20px;
    transition: all .3s linear;
    
}

@media only screen and (max-width:596px) {
    .seventh-section {
        height: 295vh;
    }
    .seventh-section-card-con{
        justify-content: center !important;
    }
    .S-first-row{
        height: 250px;
    }
    .S-card{
        height: 400px;
    }
}

.S-card-img-1 {
    background-image: url(images/team_1_1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.S-card-img-2 {
    background-image: url(images/team_1_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.S-card-img-3 {
    background-image: url(images/team_1_3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.S-card-innner{
    width: 95%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgba(28, 45, 55, 0.712);
    backdrop-filter: blur(2px);
    transition: all .3s linear;
}

.S-card:hover .S-card-innner{
    height: 95%;
    transition: all .3s linear;
}

.S-card-innner-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.S-card-innner-box1 h2{
    color: rgba(255, 255, 255, 0.747);
}
.S-card-innner-box1 p{
    color: rgba(255, 255, 255, 0.747);
}

.S-card-innner-box2{
    display: flex;
    margin-bottom: 10px;
    opacity: 0;
    gap: 10px;
}

.S-card:hover .S-card-innner-box2 {
    display: flex;
    opacity: 1;
    transition: all .3s linear;
}